*{
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;
    font-family: 'IBM Plex Sans', sans-serif;
}
.top-section{

    width: 100%;
    background-image: linear-gradient(rgba(4,29,92,0.7),rgba(4,9,30,0.9)),url(Intrams1.jpg);
    background-size: cover;
    padding-bottom: 100px;
}
nav1{
    display: flex;
    padding: 0.01% 6%;
    justify-content: space-between;
    align-items: top;
    background-color: #2B547E;  
    height:
}
nav1 p1{
    color: #eaffff;
    font-size: 13px;
    padding: 12px;
}
.top-links{
    flex: 1;
    text-align: right;
}
.top-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.top-links ul li a{
    color: #eaffff;
    text-decoration: none;
    font-size: 13px;
}
.school-name{
    width: 100%;
    height: 120px;
    position: relative;
    display: flex;
    background-color: #128551; 
}
.school-name h1{
    font-size: 40px;
    font-family: 'Cinzel', serif;
    position: absolute;
    top: 25px;
    left: 305px;
    color: #eaffff;
}
.school-name p{
    font-size: 20px;
    color: #eaffff;
    position: relative;
    left: 485px;
    top: 80px;
}
.logo img{
    width: 100px;
    position: relative;
    left: -140px;
    top: 10.6px;
}
nav2{
    display: flex;
    padding: 0.3% 6%;
    justify-content: space-between;
    align-items: top;
    background-color: #2B547E; 
}
.mid-links{
    flex: 1;
    text-align: center;
}
.home-btn{
    background-color: #007080;
}
.mid-links ul li{
    list-style: none;
    display: inline-block;
    position: relative;
}
.mid-links ul li a{
    color: #eaffff;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    padding: 8px 12px;
    font-size: 13px;
    background-color: #2B547E;
    position: relative;
    cursor: pointer; 
}
.mid-links ul li a:hover{
   
    background: #007080;}
.home{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nefont h1{
color: #eaffff;
    font-size: 38px;
    font-weight: 600;
    padding-bottom: 25px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
     font-family: 'Cinzel', serif;
    text-align: center;
    padding-top: 10%;  
}

.sport{
    width: 250px;
    height: 250px;

    display: flex;
    margin-left: 32%;
}
.row {
  display: flex;
    padding-top: 10%;
}
.gal{
    width: 100%;
    background-image: linear-gradient(rgba(4,29,92,0.7),rgba(4,9,30,0.9)),url(mega1.jpeg);
    background-size: cover;
    padding-bottom: 100px;
     background-position: center;
}
.gal h2{
    color: #eaffff;
    padding-bottom: 50px;
    padding-top: 50px;
   text-align: center;
      font-size: 38px;
    font-weight: 600;
    padding-bottom: 25px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
     font-family: 'Cinzel', serif;
}

.gal p{
    color: #eaffff;
}
.desc{
    color: #eaffff;
}
div.gallery {
 
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 10%;
  max-width: 19.8%;
  padding: 0 4px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
.sf h1{
    color: #eaffff;
    font-size: 45px;
    font-weight: 600;
    padding-bottom: 25px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
     font-family: 'Cinzel', serif;
    text-align: center;
}
/*--Video--*/

.vid{
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.9),rgba(235,255,255,1)),url(crim4.jpeg);
    background-size: cover;
    background-position: center;
    padding-top: 100px;
}
.video{
    position: relative;
    top: 150px;
    margin: auto;
    width: 100px;
    right: 250px;
}
.video-title h{
    position: absolute;
    width: 75%;
    text-align: center;
    left: 11%;
    color: #eaffff;
    font-size: 32px;
    padding-bottom: 10px;  
}
.right{
    padding-top: 400px;
    width: 90%;
    padding-bottom: 100px;
       margin-left: 10%;
}
.news{
   background-color: #eaffff;
}
.newstitle h{
    color: #2B547E;
     font-size: 45px;
    font-weight: 600;
    padding-bottom: 25px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
     font-family: 'Cinzel', serif;
}

/*----*/

.list {
display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
    position: relative;
    display: flex;
    padding-bottom: 15px;
} 
.list img{
    width: 100px;
    height: 75px;
}
.heading-3{
    font-size: 20px;
    text-transform: uppercase;
    color: #2B547E;
    margin-top: -150px;
    padding-bottom: 20px;
    display: flex;
    position: relative;
}
.right p{
    color: #2B547E;
    width: 200px; 
}

.right p1{
    color: #2B547E;
    font-size: 12px;
}

/*--Connect--*/

.bot-section{
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #2B547E; 
}
.foot-links{
    flex: 1;
    text-align: center;
    margin-bottom:25px;  
}
.foot-links ul li{
    list-style: none;
    display: inline-block;
    position: relative;
}
.foot-links ul li a{
    color: #eaffff;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    padding: 8px 12px;
    font-size: 13px;
    position: relative;
    cursor: pointer; 
}
.connect h{
    color: #eaffff; 
}
.icon{
    align-content: center;
   padding: 5px;
}   
.fb {
    height: 50px;
}
.disclaimer p{
    color: #eaffff;
    font-size: 14px;
    top: 50px;
    position: relative;
    padding-bottom: 10px;
}
.disclaimer a{
    color: #eaffff;
    font-size: 14px;
     top: 50px;
    padding: 1px;
   position: relative;
}

@media(max-width: 800px){
    
    nav1 p1{
    color: #eaffff;
    font-size: 10px;
        padding: 12px;}
    .school-name{
    width: 100%;
    height: 90px;
    position: relative;
    display: flex; 
    top: 0;
        background-color: #128551; }
    .school-name h1{
    font-size: 20px;
    font-family: 'Cinzel', serif;
    top: 10px;
    left: 130px;
    color: #eaffff;  
}
.school-name p{
    font-size: 10px;
    color: #eaffff;
    position: absolute;
    left: 130px;
    top: 70px;
}
    .logo img{
    width: 70px;
    position: absolute;
    left: 25px;
    top: 10px;
}
    nav2{
    display: flex;
    padding: 0.3% 6%;
    justify-content: space-between;
    align-items: top;
    background-color: #2B547E; 
    margin-top: 0;
}
.nefont h1{
    padding-bottom: 10px;
     padding-top: 50px;}
    .top-section{
        height: auto;}
    .video{
    position: relative;
    padding-top: 10px;
    left: auto;
    display: flex;
        width: 90%;
    right: auto;
}
.video-title h{
    display: flex;
    position: relative;
    top: 40px;
    color: #eaffff;
    font-size: 24px;
    width: 80%;
}
}