*{
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;
    font-family: 'IBM Plex Sans', sans-serif;
}

nav1{
    display: flex;
    padding: 0.01% 6%;
    justify-content: space-between;
    align-items: top;
    background-color: #2B547E;  
    height:
}
nav1 p1{
    color: #eaffff;
    font-size: 13px;
    padding: 12px;
 
}
.top-links{
    flex: 1;
    text-align: right;
}
.top-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.top-links ul li a{
    color: #eaffff;
    text-decoration: none;
    font-size: 13px;
}
.school-name{
    width: 100%;
    height: 120px;
    position: relative;
    display: flex;
    background-color: #128551;
}
.school-name h1{
    font-size: 40px;
    font-family: 'Cinzel', serif;
    position: absolute;
    top: 25px;
    left: 305px;
    color: #eaffff;
}
.school-name p{
    font-size: 20px;
    color: #eaffff;
    position: relative;
    left: 485px;
    top: 80px;
}
.logo img{
    width: 100px;
    position: relative;
    left: -140px;
    top: 10.6px;
}
nav2{
    display: flex;
    padding: 0.3% 6%;
    justify-content: space-between;
    align-items: top;
    background-color: #2B547E; 
}
.home-btn{
    background-color: #007080;
}
.mid-links{
    flex: 1;
    text-align: center;
}
.mid-links ul li{
    list-style: none;
    display: inline-block;
    position: relative;
}
.mid-links ul li a{
    color: #eaffff;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    padding: 8px 12px;
    font-size: 13px;
    background-color: #2B547E;
    position: relative;
    cursor: pointer; 
}
.mid-links ul li a:hover{
   
    background: #007080;}
.home{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

/*--Slide Show--*/

.banner {
      
    width: 100%;
  
    background-image: linear-gradient(rgba(43,84,126,0.7),rgba(11,21,31,0.9)),url(mega1.jpeg);
    background-size: cover;
    background-position: center;
}
.slider{
    width: 100%;
    height: 600px;
    overflow: hidden;
    margin:auto;
    display: flex; 
    
}

.slides{
    width 500%;
    height: 600px;
    display: flex;
    
}
.slides input{
    display: none; 
    
}

.slide{
    width: 25%;
    transition: 2s; 
}
.slide img{
    width: 1300px;
    height: 600px;
    justify-content: center;
  
}
/*--Manual Nav--*/

.navigation-manual{
    position: absolute;
    display: flex;
    margin: 10px; 
}
.manual-btn{
    border: 2px solid #eaffff;
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 20px;
}
.manual-btn:hover{
    background: #eaffff;
}
#radio1:checked ~ .first{ 
    margin-left: 0;
}
#radio2:checked ~ .first{ 
    margin-left: -14.3%;
}
#radio3:checked ~ .first{
    margin-left: -33.5%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -100%;
}
#radio6:checked ~ .first{
    margin-left: -125%;
}
#radio7:checked ~ .first{
    margin-left: -150%;
}
#radio8:checked ~ .first{
    margin-left: -175%;
}

/*--auto nav--*/
.navigation-auto{
    position: absolute;
    display: flex;
    margin: 10px;
}
.navigation-auto div{
    border: 2px solid #eaffff;
    padding: 4px;
    border-radius: 10px;
    transition: 1s; 
}
.navigation-auto div:not(:last-child){
    margin-right: 20px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #eaffff;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #eaffff;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #eaffff;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #eaffff;
}
#radio5:checked ~ .navigation-auto .auto-btn5{
    background: #eaffff;
}
#radio6:checked ~ .navigation-auto .auto-btn6{
    background: #eaffff;
}
#radio7:checked ~ .navigation-auto .auto-btn7{
    background: #eaffff;
}
#radio8:checked ~ .navigation-auto .auto-btn8{
    background: #eaffff;
}

/*--Video--*/
.video{
    position: relative;
    display: flex;
    top: 50px;
    margin: auto;
    width: 660px;
    left: 50px;
    padding-bottom: 100px;
}
.vidtitle h1{
    
    text-align: center;
    justify-content: center;
    display: flex;
    top: 140%;
    padding-top: 100px;

    color: #eaffff;
    font-size: 32px;
    font-family: 'Cinzel', serif;
}

.gal{
    width: 100%;
    background-image: linear-gradient(rgba(4,29,92,0.7),rgba(4,9,30,0.9)),url(megabuilding.jpg);
    background-size: cover;
    padding-bottom: 100px;
     background-position: center;

}
.gal h2{
    color: #eaffff;
    padding-bottom: 50px;
    padding-top: 50px;
   text-align: center;
      font-size: 38px;
    font-weight: 600;
    padding-bottom: 25px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
     font-family: 'Cinzel', serif;
}

.gal p{
    color: #eaffff;
}
.desc{
    color: #eaffff;
}
div.gallery {
 
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*--Acad--*/

.ap{
    margin-top: 100px;
    background-color: #eaffff;
}
.acad{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 150px;
}
.acad h1{
    color: #2B547E;
    font-size: 45px;
    font-weight: 600;
    padding-bottom: 50px;
}
.acad p1{
    color: #2B547E;
}
.acad p{
    color: #eaffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 30px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.row h3{
    color: #eaffff;
}
.course-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    background-color: #2B547E;
}
.row h3{
    text-align: center;
    font-weight: 600;
    margin 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.7);}

.apply-btn{
    display: inline-block;
    text-decoration: none;
    color: #eaffff;
    border: 1px solid #2B547E;
    padding: 14px 34px;
    font-size: 13px;
    background-color: #2B547E;
    position: relative;
    cursor: pointer; 
}
.apply-btn:hover{
    border: 1px solid #eaffff;
    background: #007080;
    transition: 1s;}

.about-section{
    
    background-color: #2B547E;
}

/*--Connect--*/

.bot-section{
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #2B547E; 
}
.foot-links{
    flex: 1;
    text-align: center;
    margin-bottom:25px; 
}
.foot-links ul li{
    list-style: none;
    display: inline-block;
    position: relative;
}
.foot-links ul li a{
    color: #eaffff;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    padding: 8px 12px;
    font-size: 13px;
    position: relative;
    cursor: pointer; 
}
.connect h{
    color: #eaffff; 
}
.icon{
    align-content: center;
   padding: 5px;
}   
.fb {
    height: 50px;
}
.disclaimer p{
    color: #eaffff;
    font-size: 14px;
    top: 50px;
    position: relative;
    padding-bottom: 10px;
}
.disclaimer a{
    color: #eaffff;
    font-size: 14px;
     top: 50px;
    padding: 1px;
    
   position: relative;
}



@media(max-width: 800px){
    
    .top-section{

    width: 100%;
    background-image: linear-gradient(rgba(4,59,92,0.7),rgba(4,9,30,0.9)),url(mega2.jpeg);
    background-size: cover;
}  
    nav1 p1{
    color: #eaffff;
    font-size: 10px;
        padding: 12px;}
    .school-name{
    width: 100%;
    height: 90px;
    position: relative;
    display: flex; 
    top: 0;
        background-color: #128551; } 
    .school-name h1{
    font-size: 20px;
    font-family: 'Cinzel', serif;
    top: 10px;
    left: 130px;
    color: #eaffff;
}
.school-name p{
    font-size: 10px;
    color: #eaffff;
    position: absolute;
    left: 130px;
    top: 70px;
}
    .logo img{
    width: 70px;
    position: absolute;
    left: 25px;
    top: 10px;
}
    nav2{
    display: flex;
    padding: 0.3% 6%;
    justify-content: space-between;
    align-items: top;
    background-color: #2B547E; 
    margin-top: 0;
}

    .slider{
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
        margin: auto;
}

.slides input{
    display: none;
   
}

.slide{
    width: 25%;
    transition: 2s;  
}

.slide img{
   width: 380px;
    height: 200px;
    
}
    .navigation-manual{
    position: absolute;
}
.navigation-auto{
    position: absolute;
}
  
.video{
    position: relative;
    top: 55px;
    left: auto;
    display: flex;
        width: 100%;
    right: auto;
    height: auto;
}

.video-section h{
    display: flex;
    position: relative;
    text-align: center;
  
    color: #2B547E;
    font-size: 20px;
    width: 90%;
    margin: auto;
    left: -5px;
    }
    .row{
    flex-direction: column;
}
    .ap{
    margin-top: 75px;
    background-color: #eaffff;
}
.acad{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 100px;
}
.acad h1{
    color: #2B547E;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 25px;
}
.acad p1{
    color: #2B547E;
}
.acad p{
    color: #eaffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 30px;
}
}