*{
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;
    font-family: 'IBM Plex Sans', sans-serif;
}

.top-section{
    height: 120vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,59,92,0.7),rgba(4,9,30,0.9)),url(photos/mega2.jpeg);
    background-size: cover;
}



nav1{
    display: flex;
    padding: 0.01% 6%;
    justify-content: space-between;
    align-items: top;
    background-color: #2B547E;  
    height:
}
nav1 p1{
    color: #eaffff;
    font-size: 13px;
    padding: 12px;
 
}
.top-links{
    flex: 1;
    text-align: right;
}
.top-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.top-links ul li a{
    color: #eaffff;
    text-decoration: none;
    font-size: 13px;
}

.school-name{
    width: 100%;
    height: 120px;
    position: absolute;
    display: flex; 
    top: 6%;
    background-color: #128551;
   
    
}
.school-name h1{
    font-size: 40px;
    font-family: 'Cinzel', serif;
    position: absolute;
    top: 25px;
    left: 305px;
    color: #eaffff;
   
}
.school-name p{
    font-size: 20px;
    color: #eaffff;
    position: absolute;
    left: 485px;
    top: 80px;
}
.logo img{
    width: 100px;
    position: absolute;
    left: 190px;
    top: 10.6px;
}

nav2{
    display: flex;
    padding: 0.3% 6%;
    justify-content: space-between;
    align-items: top;
    background-color: #2B547E; 
    margin-top: 115px;
}
.mid-links{
    flex: 1;
    text-align: center;
}

.home-btn{
    background-color: #007080;
}

.mid-links ul li{
    list-style: none;
    display: inline-block;
    position: relative;
}
.mid-links ul li a{
    color: #eaffff;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    padding: 8px 12px;
    font-size: 13px;
    background-color: #2B547E;
    position: relative;
    cursor: pointer; 
}

.mid-links ul li a:hover{
   
    background: #007080;}
    



.home{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

/*--Slide Show--*/
.slider{
    width: 1000px;
    height: 380.49px;
    overflow: hidden;
    margin-left: 140px;
    display: flex;

}

.slides{
    width 500%;
    height: 380.49px;
    display: flex;
}

.slides input{
    display: none;
   
}

.slide{
    width: 25%;
    transition: 2s;
    
   
}

.slide img{
    width: 1000px;
    height: 380.49px;
}




/*--Manual Nav--*/

.navigation-manual{
    position: absolute;
    width: 800ox;
    display: flex;
    justify-content: center;
    margin-top: 397px;
    margin-left: 35%;
    
}

.manual-btn{
    border: 2px solid #eaffff;
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 20px;
}

.manual-btn:hover{
    background: #eaffff;
}

#radio1:checked ~ .first{
    
    margin-left: 0;
}
#radio2:checked ~ .first{
    
    margin-left: -25%;
}
#radio3:checked ~ .first{
    
    margin-left: -50%;
}
#radio4:checked ~ .first{
    
    margin-left: -75%;
}

/*--auto nav--*/

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 31%;
    margin-left: 7.95%;
}
.navigation-auto div{
    border: 2px solid #eaffff;
    padding: 4px;
    border-radius: 10px;
    transition: 1s;
  
}
.navigation-auto div:not(:last-child){
    margin-right: 20px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #eaffff;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #eaffff;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #eaffff;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #eaffff;
}

/*--Video--*/

.video{
    position: relative;
    top: 250px;
    margin-left: 100px;
}

.caption h{
    position: absolute;
    width: 75%;
    text-align: center;
    top: 140%;
    left: 11%;
    color: #2B547E;
    font-size: 32px;
    
    
}
.caption a{
    color: #2B547E;
    padding: 5px;
    width: 500px;
    margin: auto;
    position: absolute;
    left: 53%;
    top: 160%;
    font-size: 18px;
}
.caption p{
    color: #2B547E;
    padding: 5px;
    width: 40%;
    margin: auto;
    position: relative;
    top: -15px;
    left: 23.4%; 
    font-size: 16px;
    
}

/*--Acad--*/

.ap{
    margin-top: 100px;
    background-color: #eaffff;
}
.acad{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 150px;
}
.acad h1{
    color: #2B547E;
    font-size: 45px;
    font-weight: 600;
    padding-bottom: 50px;
}

.acad p1{
    color: #2B547E;
}
.acad p{
    color: #eaffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 30px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.row h3{
    color: #eaffff;
}
.course-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    background-color: #2B547E;
}
.row h3{
    text-align: center;
    font-weight: 600;
    margin 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.7);}

.apply-btn{
    display: inline-block;
    text-decoration: none;
    color: #eaffff;
    border: 1px solid #2B547E;
    padding: 14px 34px;
    font-size: 13px;
    background-color: #2B547E;
    position: relative;
    cursor: pointer; 
}
.apply-btn:hover{
    border: 1px solid #eaffff;
    background: #007080;
    transition: 1s;}

.about-section{
    
    background-color: #2B547E;
}
    
.line1 {
    background-color: 2B547E;
    height: 25px;
}

/*--Connect--*/

.bot-section{
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #128551;
}
.connect h{
    color: #eaffff;
    
}
.icon{
    align-content: center;
   padding: 5px;
}   
.fb {
    height: 50px;
}
.disclaimer p{
    color: #eaffff;
    font-size: 14px;
    top: 50px;
    position: relative;
    padding-bottom: 10px;
}
.disclaimer a{
    color: #eaffff;
    font-size: 14px;
     top: 50px;
    padding: 1px;
    
   position: relative;
}